:root {
  width: 100%;
  height: 100%;

  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --background-start-rgb: rgb(36, 59, 85);
  --background-end-rgb: rgb(20, 30, 48);
}

html,
body {
  min-height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-mono);
  background: var(--background-end-rgb);
  background: linear-gradient(
    to right,
    var(--background-start-rgb),
    var(--background-end-rgb)
  );
}
